h1{
	display: block;
	text-align: center;
}

#formDiv{
    display: block;
    margin-left: 35%;

}
#tableDiv{
    display: inline-block;
    border: 1px solid blue;
}
table tr td{
padding-right: 5px;
padding-bottom: 5px;
}

span{
	color: red;
}
#buttonwrap{
    margin-top:15px;
    display: block;
    text-align: center;
}