body{
	padding: 50px;    
}

header, form{
	text-align: center;
	margin-bottom: 35px;
}
input{
	margin: 40px;
	padding: 5px;
}
#operator{
	padding: 5px;
}
#calculation{
	margin: 25px auto;
    display: block;

}
#res{
	display: block;
	text-align: center;
	line-height: 150%;
	font-size: 30px;
}